/* 
css for the index boxes
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-control::placeholder {
    color: grey;
    font-size: small;
    opacity: 0.85; /* Firefox */
  }
  
  input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #dee2e6;
  }
  
  input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
   color: #dee2e6;
  }

#hero{
    min-height: 80vh; 
    padding-top: 14vh;
}

#hero h1{
    font-size: 3.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px rgba(08, 08, 08, 0.4);
}



#index-main {
    min-height: 83vh;
    padding-top: 10vh;
}

#index-main .action-box {
    display: block;
}

#index-main a {
    text-decoration: none;
    color: none;
}

i.bi {
    font-size: 30px;
}

#index-main .footer {
    background: rgba(08, 08, 08, 0.4);
}