/* 
css for the index boxes
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion-button{
    font-size: 18px !important;
    font-weight: bolder !important;
    border: 2px double rgba(98, 98, 98, 0.4) !important;

}

.form-control::placeholder {
    color: grey;
    font-size: small;
    opacity: 0.85; /* Firefox */
  }
  
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
    font-size: small;
    opacity: 0.85; /* Firefox */
  }
  
  .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
    font-size: small;
    opacity: 0.85; /* Firefox */
  }

  h1, h2, h3, h4, h4, h6{
    font-weight: bold;
  }

#hero{
    min-height: 80vh; 
    padding-top: 14vh;
}

#hero h1{
    font-size: 3.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px rgba(08, 08, 08, 0.4);
    color: black;
    /* opacity: 0.8; */
}

#stud-page{
    /* background: linear-gradient(to bottom, rgba(68, 68, 161, 1) 0%, rgba(68, 68, 161, 1) 50%, white 20%, white 100%); */
    background: linear-gradient(to bottom, rgb(222, 226, 230, 0.7) 50%, white 50%, white 100%);
}

#index-main {
    min-height: 83vh;
    padding-top: 10vh;
}

#index-main .action-box {
    display: block;
}

#index-main a {
    text-decoration: none;
    color: none;
}

i.bi {
    font-size: 30px;
}

#index-main .footer {
    background: rgba(08, 08, 08, 0.4);
}

