{% extends 'student_base.html' %} {% load l10n %} {% load static %} {% load humanize %} 
{% load crispy_forms_tags %} 
{% block content %}

<section id="make-payment"></section>
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h4>MAKE ONLINE PAYMENT</h4>
            </div>
        </section>

        <section class="row">
            <div class="col-md-3">
                <div class="bg-white">
                    <i class="bi bi-activity" style="font-size: 3rem;"></i>
                    <h5>
                        MAKE PAYMENT
                    </h5>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bg-white">
                    <i class="bi bi-activity" style="font-size: 3rem;"></i>
                        <h5>
                            PAYMENT PROOF
                        </h5>
                </div>
            </div>

            <div class="col-md-6">
                <div class="bg-white">
                    <i class="bi bi-activity" style="font-size: 3rem;"></i>
                        <h5>
                            PAYMENT PROOF
                        </h5>
                </div>
            </div>
        </section>
    </div>




{% endblock %}