{% extends 'student_base.html' %} {% load l10n %} {% load static %} {% load humanize %} 
{% load crispy_forms_tags %} 
{% block content %}
<section id="payment-proof">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h3>Send Proof of Payment !!!</h3>
            </div>
        </section>

        <section class="row">
            <div class="col-12 col-md-6">
                <div>
                    <table class="table">
                        <tr>
                            <th>Faculty</th>
                            <td>{{request.user.first_name}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% crispy pp_form %}
                </form>
            </div>
        </section>
    </div>
</section>

{% endblock %}