{% extends 'student_base.html' %} {% load l10n %} {% load static %} {% load humanize %} 
{% load crispy_forms_tags %} 
{% block content %}

<section id="make-payment">
    <div class="container">
        <section class="row">
            <div class="col-md-12 text-center pb-4">
                <div>
                    <h3>Complaints and History</h3>
                </div>    
            </div>

            <div class="col-md-8 mx-auto">
                <form method="post" action="" class="border border-1 border-info rounded-3 p-4">
                    {% csrf_token %} 
                    {{ complaintForm | crispy }}
                    <div>
                        <button type="submit" class="btn btn-lg btn-primary">
                            Send Complain
                        </button>
                    </div>
                </form>    
            </div>
        </section>

        <!-- === New table row section ===-->
        <section class="row pt-3">
            <div class="col-12 col-md-10 mx-auto pb-4 bg-white table-responsive">
                <table class="table mt-4 table-hover">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col">REF CODE</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date Submitted</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    <tbody
                        class="
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                        "
                    >
                    {%for complaint in complaints %}

                    <!-- == Modal to display complaint details == -->
                    <div class="modal fade" id="complaintModal{{complaint.id}}" tabindex="-2" aria-labelledby="studentDetailsLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Ref Code: <span class="text-danger">{{complaint.reference_id | upper}}</span></h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-4">
                                    <div>
                                        <p>Subject:</p>
                                        <p class="fw-bold">{{complaint.subject}}</p>
                                    </div>

                                    <div>
                                        <p>Details:</p>
                                        <p class="fw-bold">
                                            {{complaint.description}} <br />
                                            <span class="text-muted">{{student.mobile_number}}</span>
                                        </p>
                                    </div>

                                    <div>
                                        <p>By:
                                            <span class="fw-bold">
                                                {{complaint.student}} <br />
                                                <span class="text-muted text-end">{{student.courses.name}}</span>
                                            </span>
                                        </p>
                                    </div>

                                    <div>
                                        <p>
                                        Date Submitted: 
                                        <span class="fw-bold">
                                        {{complaint.date_submitted}}
                                        </span>
                                    </p>
                                        
                                    </div>

                                    <div>
                                        <p>Status:</p>
                                        <p class="fw-bolder">
                                            {% if complaint.status == 'P' %}
                                            <span class="text-warning">{{complaint.get_status_display}}</span>
                                            {% elif complaint.status == 'R' %}
                                            <span class="text-success">{{complaint.get_status_display}}</span>
                                            {% else %}
                                            <span class="text-secondary">{{complaint.get_status_display}}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- === End of modal details === -->

                    <tr>  
                        <td>
                           <span class="fw-bold">{{complaint.reference_id | upper}}</span>
                        </td>
                        <td>
                            {{complaint.subject}}
                        </td>
                        <td class="fw-bolder">
                            {% if complaint.status == 'P' %}
                            <span class="text-warning">{{complaint.get_status_display}}</span>
                            {% elif complaint.status == 'R' %}
                            <span class="text-success">{{complaint.get_status_display}}</span>
                            {% else %}
                            <span class="text-secondary">{{complaint.get_status_display}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {{complaint.date_submitted}}
                        </td>
                        <td>
                            <a href="#"
                                data-bs-toggle="modal" 
                                data-bs-target="#complaintModal{{complaint.id}}"  to
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                title="Complaint Details"
                            >
                            <i class="bi bi-arrow-right-circle-fill" style="font-size: 20px;"></i>
                            </a>
                            
                        </td>
                    </tr>
                    {% empty %}
                    <p class="alert alert-info fw-bolder">No Complaint Recorded.</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
  </div> <!-- === End of the section page === -->

{% endblock %}