<!--- 
    === Sidenav with an id sidebar ===
    ** This sidebar is for admin and fully responsive **
-->
<nav 
    class="navbar navbar-expand shadow-0 p-0 m-0 d-flex flex-column align-items-start" 
    id="sidebar"
>
    <ul class="nav d-flex flex-column mt-3 w-100">
        <li class="nav-item w-100">
            <a href="{% url 'student_dashboard' %}" class="nav-link ps-4">
                <i class=" bi bi-house-door pe-3"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item w-100">
            <a href="{% url 'payment_proof' %}" class="nav-link ps-4">
                <i class=" bi bi-receipt-cutoff pe-3"></i>
                Payment Proof
            </a>
        </li>

        <li class="nav-item w-100">
            <a href="{% url 'make_payment' %}" class="nav-link ps-4">
                <i class=" bi bi-credit-card pe-3"></i>
                Payments
            </a>
        </li>

        <li class="nav-item w-100 disabled">
            <a href="{% url 'payment_complaints' %}" class="nav-link ps-4">
                <i class=" bi bi-rss-fill pe-3"></i>
                Complaints 
            </a>
        </li>

        <li class="nav-item w-100">
            <a href="{% url 'student_profile' request.user.username  %}" class="nav-link ps-4">
                <i class=" bi bi-person-circle pe-3"></i>
                Profile
            </a>
        </li>

        <!-- <li class="nav-item w-100">
            <a href="" class="nav-link ps-4">
                <i class=" bi bi-journal-richtext pe-3" style="font-size: 1em;"></i>
                Generate Reports
            </a>
        </li> -->

        <li class="nav-item w-100">
            <a href="" class="nav-link ps-4">
                <i class=" bi bi-gear-fill pe-3"></i>
                Settings
            </a>
        </li>

        <a href="{% url 'account_logout' %}" class="nav-link ps-4">
            <i class=" bi bi-door-closed pe-3 fw-bolder text-danger" style="font-size: .7em;"></i>
            <small class="text-danger">Logout</small>
        </a>
    </ul>
</nav> 