{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fees/css/b5css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fees/css/mdb/mdb.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fees/css/nile.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <b class="text-primary">NILE FEE SYSTEM</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            User Image
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block sidebar %} {% endblock sidebar %} {% block content %} {% endblock content %}

    <script src="{% static 'labapp/js/b5js/bootstrap.min.js' %}">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
</body>

</html>