<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fees/css/b5css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fees/css/mdb/mdb.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fees/css/nile.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <b class="text-primary">
                    <img class="img-fluid rounded-circle shadow-lg user-thumbnail"
                        style="height: 40px; width: 40px;"
                        src="{% static 'fees/images/nile.jpg' %}">
                </b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    {% if user.is_authenticated and user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_dashboard' %}">
                            <b>admin</b>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown nav-item nav-auth pt-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.is_authenticated and user.is_staff %}
                            <img class="img-fluid rounded-circle shadow-lg user-thumbnail"
                                style="height: 35px; width: 35px;"
                                src="{{ request.user.staff_user.photo_url }}">
                            {% else %}
                            <img class="img-fluid rounded-circle shadow-lg user-thumbnail"
                                style="height: 30px; width: 30px;" src="">
                            {% endif %}
                            {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="">
                                <p>Profile</p>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-secondary text-white" href="{% url 'account_login' %}">
                            LOGIN
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section class="container">
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <b>{{ message }}</b>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% block sidebar %} {% endblock sidebar %} {% block content %} {% endblock content %}

    <footer class="bg-white">
        <div class="container">
            <article class="row">
                <div class="col-12 py-4 px-2 text-center">
                    <p class="p-0">
                        <span class="text-dark">
                            Developed By Alamin Hamisu Abba
                        </span>
                        <span class=" text-success">|</span>
                        <span class=" text-muted">
                            FYP
                        </span>
                    </p>
                </div>
            </article>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'fees/js/b5js/bootstrap.min.js' %}">
    </script>
    <script src="{% static 'fees/js/mdb/mdb.min.css' %}"></script>
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
</body>

</html>