/* 
css for the index boxes
*/

*{
    margin: 0;
    padding: 0;
}

#h1{
    font-size: 3.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 5px 5px rgba(08, 08, 08, 0.7);
}



#index-main {
    min-height: 83vh;
    padding-top: 10vh;
}

#index-main .action-box {
    display: block;
}

#index-main a {
    text-decoration: none;
    color: none;
}

i.bi {
    font-size: 30px;
}

#index-main .footer {
    background: rgba(08, 08, 08, 0.4);
}