{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <article class="col-12 col-md-8 mx-auto bg-white p-5 border rounded-7">
            <h1>{% trans "Change Password" %}</h1>
            <form 
                method="POST" 
                action="{% url 'account_change_password' %}" 
                class="password_change pt-4"
            >
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-primary btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </article>
    </div>
</section>
    

    
{% endblock %}
