{% extends 'base.html' %} {% load l10n %} {% load static %} {% load humanize %} {% load crispy_forms_tags %} {% block content %}

<section class="py-5 border-bottom">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-8 mx-auto bg-dark text-white d-flex justify-content-between p-3 p-md-5">
                <div class="d-flex">
                    <div class="pe-5">
                        <img class="img-fluid rounded-circle shadow-lg user-thumbnail"
                                style="height: 100px; width: 100px;"
                                src="{{ student.photo_url }}">
                    </div>
                    <div>
                        <h3 class="text-warning">{{student.user.last_name}} {{user.first_name}}</h3>
                        <span class="text-muted pb-3">{{student.gender|upper}}</span>
                        <p>
                            <span class="text-light">{{student.faculty}}</span> <br/>
                            <b>{{student.courses}}</b>
                        </p>     
                    </div>
                </div>
                <div class="align-self-center">
                    <ul class="list-group">
                        <a href="">
                            <li class="list-group-item"> 
                                <i class="bi bi-envelope-paper-fill me-3 text-primary" style="font-size: 18px;"></i> 
                                Send Feedback
                            </li>
                        </a> 
                        <a href="">
                            <li class="list-group-item">
                                <i class="bi bi-cash-stack me-3 text-primary" style="font-size: 18px;"></i> 
                                Make Payment
                            </li>
                        </a>
                    </ul>
                </div>
            </article>
        </section>


        <section class="row py-5">
            <article class="col-12 col-md-10 mx-auto">
                <table class="table table-striped w-100">
                    <thead class=" fs-6 fw-bold bg-primary text-white">
                        <tr>
                            <th>Payment ID</th>
                            <th>
                                Academic Year
                            </th>
                            <th>
                                Semester
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                balance
                            </th>
                            <th>
                                Date Paid
                            </th>
                            <th>
                                Staff Handler
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if payments %}
                            {% for payment in payments %}
                            
                                <tr>
                                    <td class="text primary fw-bold">
                                        <a href="{% url 'payment_detail' payment.pk %}">
                                            00{{payment.pk}}00
                                        </a>
                                    </td>
                                    <td>{{payment.academic_year}}</td>
                                    <td>{{payment.semester}}</td>
                                    <td class="fw-bold">&#x20A6;{{payment.amount|intcomma}}</td>
                                    <td>---</td>
                                    <td>{{payment.date_paid|date}}</td>
                                    <td>
                                        <a href="{% url 'staff_profile' payment.staff %}">
                                            {{payment.staff}}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                    {% else %}
                            <tr>
                                <h4>No Payment Records</h4>
                            </tr>
                    {% endif %}
                    </tbody>
                </table>
            </article>
        </section>

    </div>
</section>

{% endblock %}