{% extends 'base.html' %} {% load static %} {% block content %}

<section>
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6">
                <div class="row g-5">
                    <article class="col-6">
                        <a href="" class="bg-white border d-block p-5">
                            <i class="bi bi-activity"></i>
                            <h5>CHANGE PASSWORD</h5>
                        </a>
                    </article>

                    <article class="col-6">
                        <a href="" class="bg-white border d-block p-5">
                            <i class="bi bi-activity"></i>
                            <h5>UPDATE PASSWORD</h5>
                        </a>
                    </article>

                    <article class="col-6">
                        <a href="" class="bg-white border d-block p-5">
                            <i class="bi bi-activity"></i>
                            <h5>UPDATE PASSWORD</h5>
                        </a>
                    </article>

                    <article class="col-6">
                        <a href="" class="bg-white border d-block p-5">
                            <i class="bi bi-activity"></i>
                            <h5>UPDATE PASSWORD</h5>
                        </a>
                    </article>
                </div>
            </article>

            <article class="col-12 col-md-6">
                
            </article>
        </section>
    </div>
</section>
{% endblock content %}