{% extends 'base.html' %} {% load static %} {% block content %}

<section id="user_settings">
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6">
                <div class="row g-5">
                    <article class="col-6">
                        <a href="" class="usettings1 border p-5 text-center">
                            <i class="bi bi-hourglass-split"></i>
                            <h5>CHANGE PASSWORD</h5>
                        </a>
                    </article>

                    <article class="col-6">
                        <a href="" class="usettings2 border  p-5 text-center">
                            <i class="bi bi-lock-fill"></i>
                            <h5>RESET PASSWORD</h5>
                        </a>
                    </article>

                    <article class="col-6">
                        <a href="" class="usettings3 border p-5 text-center">
                            <i class="bi bi-bell-slash-fill"></i>
                            <h5>UPDATE PASSWORD</h5>
                        </a>
                    </article>

                    <article class="col-6">
                        <a href="" class="usettings4 border p-5 text-center">
                            <i class="bi bi-person-check"></i>
                            <h5>CHANGE PROFILE PIC</h5>
                        </a>
                    </article>
                </div>
            </article>

            <article class="col-12 col-md-6">
                
            </article>
        </section>
    </div>
</section>
{% endblock content %}