{% extends 'base.html' %}{% load crispy_forms_tags %} {% load static %} {% block content %}

<section>
    <div class="container">
        <section class="row">
            <article class="col-6 mx-auto">
                <form action="" method="POST">
                    {% csrf_token %} 
                    <article class="row">
                        <div class="form-group col-12 col-md-6 mb-3">
                            {{userform.username|as_crispy_field}}
                        </div>
                        <div class="form-group col-12 col-md-6 mb-3">
                            {{userform.email|as_crispy_field}}
                        </div>

                        <div class="form-group col-12 col-md-6 mb-3">
                            {{userform.first_name|as_crispy_field}}
                        </div>
                        <div class="form-group col-12 col-md-6 mb-3">
                            {{userform.last_name|as_crispy_field}}
                        </div>

                        <div class="form-group col-12 col-md-12 mb-3">
                            {{userform.password1|as_crispy_field}}
                        </div>
                        <div class="form-group col-12 col-md-12 mb-3">
                            {{userform.password2|as_crispy_field}}
                        </div>

                        <div class="form-group col-12 col-md-6 mb-3">
                            {{studentform.faculty|as_crispy_field}}
                        </div>
                        <div class="form-group col-12 col-md-6 mb-3">
                            {{studentform.courses|as_crispy_field}}
                        </div>
                        <div class="form-group col-12  mb-3">
                            {{studentform.address|as_crispy_field}}
                        </div>
                        <div class="form-group col-12 col-md-4 mb-3">
                            {{studentform.gender|as_crispy_field}}
                        </div>
                        <div class="form-group col-12 col-md-8 mb-3">
                            {{studentform.admission_date|as_crispy_field}}
                        </div>
                        <div class="pt-3">
                            <input type="submit" value="Submit Report" class="btn btn-lg btn-outline-primary">
                        </div>
                </form>

            </article>
        </section>
    </div>
</section>
{% endblock content %}