{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<section class="py-5 bg-light" style="min-height: 100vh;">
    <div class="container py-4">
        <div class="row">
            <article class="col-12 col-md-5">
                <div class=" pb-4">
                    <h1>
                        All students ({{total_students}})
                    </h1>

                    <p>
                        <small class=" text-muted">
                            Here you can update students profile, or deactivate
                            students account
                        </small>
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-5">
                <form action="" method="get" class="row" novalidate="nonvalidate">
                        <div class="col-12 col-sm-8">
                            {{ filter_form | crispy }}
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-lg mb-3 col-12 col-sm-4">
                            Search <i class="bi bi-search" style="font-size: 12px; font-weight: 700;"></i>
                        </button>
                </form>
            </article>

            <article class="col-12 col-md-2 text-end">
                <a href="{% url 'addstudent' %}" class=" btn btn-primary btn-lg">
                    Add New Student
                </a>
            </article>
        </div>
        <div class="row">
            <article class="col-12 table-responsive bg-white rounded-5 p-5 shadow-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Student ID</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Information</th>
                            <th scope="col">Fee Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <!-- Modal For User Deactivation-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="" method="POST">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                DEACTIVATE FORM.
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <!-- <label for="deactivate" class="form-check-label" name="deactivate" id="deactivate">deactivate:</label>
                                                <input type="checkbox" class="form-check-input"> -->
                                                {% csrf_token %}
                                                <input type="hidden" value="{{student.user.username}}" name="username"> {{d_form | crispy}}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <tr>
                            <td>   
                                {{forloop.counter}}
                            </td>
                            <td class="fw-bolder">
                                <a href="{% url 'student_profile' student.user.username %}">
                                    {{student.user.username}}
                                </a>
                                
                            </td>
                            <td>
                                {{student.fullname}}
                            </td>
                            <td>
                                <span>{{student.user.email}}</span> <br />
                                <span>{{student.mobile_number}}</span> <br />
                            </td>
                            <td>
                                {% if client.is_payed %} Paid {% else %} not Paid {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'update_student' student.user.username %}" class="btn btn-warning btn-sm me-2" data-toggle="tooltip" data-placement="bottom" title="Edit Student Info">
                                    <i class="bi bi-pencil-square text-dark" style="font-size:18px"></i>
                                </a>
                                <a href="#" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-toggle="tooltip" data-placement="bottom" title="Deactivate Student">
                                    <i class="bi bi-x-circle" style="font-size:18px"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h1>No Registered students</h1>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</section>

{% endblock %}