{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<!-- 
    - All student page
    - Edit and Deactivate Users
    - Deactivate user thorugh modal pop up
    - Add new user
-->
<section style="min-height: 100vh;">
    <div class="container py-4">
        <div class="row">         
            <article class="col-12 col-md-6">
                <div class=" pb-4">
                    <p class="fw-bolder"> <span class="text-danger">Admin</span> / Students </p>
                    <h1>
                        Students ({{total_students}})
                    </h1>

                    <p>
                        <small class=" text-muted">
                            Here you can update students profile, or deactivate
                            students account
                        </small>
                    </p>
                </div>
            </article>

            <article class="col-12 col-md-6">
                <div class="row g-5">
                    <!-- Add a new useer link -->
                    <article class="col-12 text-end p-1">
                        <a href="{% url 'addstudent' %}" class=" btn btn-primary btn-lg">
                            Add New Student
                        </a>
                    </article>

                    <!-- Search feature form -->
                    <article class="col-12">
                        <form action="" method="get" class="row" novalidate="nonvalidate">
                            <div class="col-12 col-sm-8">
                                {{ filter_form | crispy }}
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-lg mb-3 col-12 col-sm-4">
                                Search <i class="bi bi-search" style="font-size: 12px; font-weight: 700;"></i>
                            </button>
                        </form>
                    </article>
                </div>    
            </article>
        </div> <!-- === End of details row -->

        <!-- ===    Student table row === -->
        <div class="row pt-4">
            <article class="col-12 table-responsive bg-white rounded-5 p-5 shadow-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Student ID</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Information</th>
                            <th scope="col">Course</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <!-- Modal For User Deactivation-->
                        
                        <div class="modal fade" id="DeactivateStudentModal{{student.id}}" tabindex="-1" aria-labelledby="DeactivateStudentLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="" method="POST">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                DEACTIVATE FORM.
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <p class="alert alert-danger fw-bolder">Do you want to deactivate student - {{student.user.username}}</p>
                                                <!-- <label for="deactivate" class="form-check-label" name="deactivate" id="deactivate">deactivate:</label> -->
                                                <!-- <input type="checkbox" class="form-check-input"> -->
                                                {% csrf_token %}
                                                <input type="hidden" value="{{student.user.username}}" name="username"> {{d_form | crispy}}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- == Modal to display students details == -->
                        <div class="modal fade" id="studentDetailsModal{{student.id}}" tabindex="-2" aria-labelledby="studentDetailsLabel1" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="" method="POST">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="p-4">
                                                <div class="d-flex justify-content-between">
                                                   <p>Fullname:</p>
                                                   <p class="fw-bold text-end">{{student.fullname}}</p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p>Contact Info:</p>
                                                    <p class="fw-bold text-end">
                                                        {{student.user.email}} <br />
                                                        <span class="text-muted">{{student.mobile_number}}</span>
                                                    </p>
                                                 </div>

                                                 <div class="d-flex justify-content-between">
                                                    <p>Course:</p>
                                                    <p class="fw-bold text-end">
                                                        {{student.faculty}} <br />
                                                        <span class="text-muted text-end">{{student.courses.name}}</span>
                                                    </p>
                                                 </div>

                                                 <div class="d-flex justify-content-between">
                                                    <p>Admission Date:</p>
                                                    <p class="fw-bold">
                                                        {{student.admission_date}}
                                                    </p>
                                                 </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        
                        <tr>
                            <td>   
                                {{forloop.counter}}
                            </td>
                            <td class="fw-bolder">
                                <a href="{% url 'student_profile' student.user.username %}">
                                    <b>{{student.user.username}}</b>
                                </a>                                   
                            </td>
                            <td>
                                {{student.fullname}}
                            </td>
                            <td>
                                <span>{{student.user.email}}</span> <br />
                                <span>{{student.mobile_number}}</span> <br />
                            </td>
                            <td>
                                {{student.courses.name}}
                            </td>
                            <td class="d-flex flex-row">
                                <a href="#" data-bs-toggle="modal" 
                                    data-bs-target="#studentDetailsModal{{student.id}}" 
                                    class="btn btn-info btn-sm m-2" 
                                    data-toggle="tooltip" 
                                    data-placement="bottom" 
                                    title="Studebt Details"
                                >
                                    <i class="bi bi-info-circle text-dark" style="font-size:18px"></i>
                                </a>
                                
                                <a href="{% url 'update_student' student.user.username %}" class="btn btn-warning btn-sm m-2" data-toggle="tooltip" data-placement="bottom" title="Edit Student Info">
                                    <i class="bi bi-pencil-square text-dark" style="font-size:18px"></i>
                                </a>

                                <a href="#" class="btn btn-dark btn-sm m-2" data-bs-toggle="modal" data-bs-target="#DeactivateStudentModal{{student.id}}" data-toggle="tooltip" data-placement="bottom" title="Deactivate Student">
                                    <i class="bi bi-x-circle" style="font-size:18px"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h2 class="alert alert-info">No Registered students</h2>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </div> <!-- ===    End of Student table row === -->
    </div>
</section>

{% endblock %}