{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<section 
    id="complaint"
    class=" bg-light py-5" 
    style="min-height: 70vh;"
>
    <div class="container">
        <section class="row pb-4">
            <div class="col-12">
                <h1 class="h3 text-primary">
                    Complaints.
                </h1>
                <p class="fw-bolder">
                    <span class="text-danger">Admin</span> /  Complaints 
                </p>
            </div>
        </section>

        <section class="row g-5">
            <div class="col-12">
                <article 
                    class="
                        bg-white 
                        rounded-5 
                        shadow
                        table-responsive
                        p-5
                        animate__animated
                        animate__fadeInUp
                        animate_slow
                        
                    ">
                    <form action="" method="get" novalidate="nonvalidate">
                        {% crispy FilterForm %}
                    </form>

                    <table class="table mt-4 table-hover">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">REF CODE</th>
                                <th scope="col">Name</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for complaint in complaints %}
                            <!-- == Modal to display complaint details == -->
                            <div class="modal fade" id="complaintModal{{complaint.id}}" tabindex="-2" aria-labelledby="studentDetailsLabel1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Ref Code: <span class="text-danger">{{complaint.reference_id | upper}}</span></h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="p-4">
                                                <div class="d-flex justify-content-between">
                                                <p>Subject:</p>
                                                <p class="fw-bold text-end">{{complaint.subject}}</p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p>Details:</p>
                                                    <p class="fw-bold text-end">
                                                        {{complaint.description}} <br />
                                                        <span class="text-muted">{{student.mobile_number}}</span>
                                                    </p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p>By:</p>
                                                    <p class="fw-bold text-end">
                                                        {{complaint.student}} <br />
                                                        <span class="text-muted text-end">{{student.courses.name}}</span>
                                                    </p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p>Date Submitted:</p>
                                                    <p class="fw-bold">
                                                        {{complaint.date_submitted}}
                                                    </p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p>Status:</p>
                                                    <p class="fw-bolder">
                                                        {% if complaint.status == 'P' %}
                                                        <span class="text-warning">{{complaint.get_status_display}}</span>
                                                        {% elif complaint.status == 'R' %}
                                                        <span class="text-success">{{complaint.get_status_display}}</span>
                                                        {% else %}
                                                        <span class="text-secondary">{{complaint.get_status_display}}</span>
                                                        {% endif %}
                                                    </p>
                                                </div>

                                                <hr />
                                                
                                                <!-- === Form to update the status-->
                                                <form method="post" action="">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{complaint.reference_id}}" name="ref_code">
                                                    {{complaintFixedForm | crispy}}
                                                    <button type="submit" class="btn btn-primary">
                                                        Update
                                                    </button>
                                                </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- === End of modal details === -->

                            <!-- Modal For Payment Deactivation-->
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form action="" method="POST">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">
                                                    DELETE PAYMENT.
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    {% csrf_token %}
                                                    <input type="hidden" value="" name="pay_id">
                                                    <h4>
                                                        Are you sure you want to delete payment?
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">
                                                    DELETE
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <tr>  
                                <td>
                                   <span class="fw-bold">{{complaint.reference_id | upper}}</span>
                                </td>
                                <td>
                                    {{complaint.student.user}}
                                </td>
                                <td>
                                    {{complaint.subject}}
                                </td>
                                <td class="fw-bolder">
                                    {% if complaint.status == 'P' %}
                                    <span class="text-warning">{{complaint.get_status_display}}</span>
                                    {% elif complaint.status == 'R' %}
                                    <span class="text-success">{{complaint.get_status_display}}</span>
                                    {% else %}
                                    <span class="text-secondary">{{complaint.get_status_display}}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#complaintModal{{complaint.id}}"  to
                                        data-toggle="tooltip" 
                                        data-placement="bottom" 
                                        title="Complaint Details"
                                    >
                                    <i class="bi bi-arrow-right-circle-fill"></i>
                                    </a>
                                    
                                </td>
                            </tr>
                            {% empty %}
                            <p class="alert alert-info fw-bolder">No Complaint Recorded.</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
            </div> 
        </section>
    </div>

</section>



{% endblock content %}