{% extends 'base.html' %} {% load static %} {% block content %}

<section>
    <div class="container">
        <section class="row">
            <article class="col-12">

            </article>
        </section>

        <section class="row mt-3 g-5">
            <div class="col-12">
                <ul class="nav nav-pills nav-fill d-flex flex-row" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a href="#complaints" class="nav-link active" data-bs-toggle="tab">
                            <i class=" bi bi-briefcase-fill pe-2" style="font-size: 1.2rem;"></i>
                            Complaints
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a href="#pending_complaints" class="nav-link" data-bs-toggle="tab">
                            <i class=" bi bi-briefcase pe-2" style="font-size: 1.2rem;"></i>
                            Pending Complaints
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#pending_complaints" class="nav-link" data-bs-toggle="tab">
                            <i class=" bi bi-briefcase pe-2" style="font-size: 1.2rem;"></i>
                            Resolved Complaints
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#pending_complaints" class="nav-link" data-bs-toggle="tab">
                            <i class=" bi bi-briefcase pe-2" style="font-size: 1.2rem;"></i>
                            Closed Complaints
                        </a>
                    </li>
                </ul>
            </div> <!-- == End of the tablist == -->

            
        </section>
    </div>
</section>

{% endblock %}