{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<section>
    <div class="container py-5" style="min-height: 70vh;">
        <article class="row">
            <div class="col-12 col-md-7 mx-auto">
                <h2>{{remark.subject}}</h2>
                <p class="py-5 text-muted">
                    {{remark.body}}
                </p>
                <div class="pt-4 border-top d-flex">
                    {{remark.date}} | {{remark.student.user.first_name}} {{remark.student.user.last_name}}
                </div>
            </div>
        </article>
    </div>
</section>

{% endblock content %}