{% extends 'base.html' %} {% load static %} {% block content %}
<section id="hero" >
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-6 offset-md-1 align-self-center">
                <div class="p-2 p-sm-3">
                    <h1>
                        Welcome To Nile University School Fees System.
                    </h1>
                    <p>
                        This app is opened to only registered students and Fee Management Staffs. Please endeavour to pay your fees.
                    </p>
                    <div class="pt-4">
                        {% if user.is_authenticated and not user.is_staff %}
                        <a href="{% url 'stud_profile' request.user.username %}" class=" btn btn-primary btn-lg">
                            your profile
                        </a> {% elif user.is_authenticated and user.is_staff %}
                        <a href="{% url 'admin_dashboard' %}" class=" btn btn-primary btn-lg">
                            ADMIN DASHBOARD
                        </a> {% else %}
                        <a href="{% url 'account_login' %}" class=" btn btn-primary btn-lg">
                            Login
                        </a> {% endif %}
                    </div>
                </div>
            </article>
            <article class="col-12 col-md-5">
                <div>
                    <img class="img-fluid shadow" style="height: 350px; width: 100%;  object-fit: cover; object-position: center; transform: translate(80px, 0px);" src="{% static 'fees/images/nileimg2.jpg' %}">
                </div>
            </article>
        </section>
    </div>

</section>


{% endblock content %}