{% extends 'base.html' %} {% load static %} {% block content %}
<section>
    <div class="container">
        <section class="row">
            <article class="col-12 col-md-7">
                <div>
                    <h1>
                        Welcome To Nile University School Fees System
                    </h1>
                    <p>
                        This app is opened to only registered students and Fee Management Staffs. Please endeavour to pay your fees.
                    </p>
                    <div>
                        {% if user.is_authenticated and not user.is_staff %}
                        <a href="" class=" btn btn-primary btn-lg">
                            your profile
                        </a> {% elif user.is_authenticated and user.is_staff %}
                        <a href="{% url 'admin_dashboard' %}" class=" btn btn-primary btn-lg">
                            ADMIN DASHBOARD
                        </a> {% else %}
                        <a href="{% url 'account_login' %}" class=" btn btn-primary btn-lg">
                            Login
                        </a> {% endif %}
                    </div>
                </div>
            </article>
        </section>
    </div>

</section>


{% endblock content %}