{% extends 'base.html' %}  {% load humanize %} {% load crispy_forms_tags %} {% block content %}

<section class=" bg-light">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'make_payment' %}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-secondary" id="exampleModalLabel">
                            ADD NEW PAYMENT.
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-12 col-md-8 mb-0">
                                {{ p_form.student|as_crispy_field }}
                            </div>
                            <div class="form-group col-12 col-md-4 mb-0">
                                {{ p_form.date_paid|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.academic_year|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.semester|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.amount|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.payment_method|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            ADD PAYMENT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <section class="row">
            <article class="col-8 col-md-6">
                <p class="fw-bolder"> 
                    <span class="text-danger">Admin</span> 
                    / Fees Payments 
                </p>
                <p>Manage <span class="text-primary fw-bolder">Payments</span> Here.</p>
            </article>
            <article class="col-4 col-md-6 text-end">
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class=" btn btn-primary btn-lg">
                    Add New Payment
                </a>
            </article>
        </section>

        <section class="row g-4 pt-4">
            <article class="col-12 col-md-4">
                <div 
                    class="
                        d-flex 
                        justify-content-between 
                        p-3
                        animate__animated
                        animate__bounce
                    " 
                    style="background:rgb(28, 63, 253, 0.3)"
                    id="totalPayment"
                >
                    <i class="bi bi-record-circle-fill" style="color: #1c3ffd"></i>
                    <div class="text-end">
                        <p class="fw-bolder">{{total_payments}}</p>
                        Total Payment Records
                    </div>
                </div>
            </article>
            <article class="col-12 col-md-4">
                <div 
                    class="
                        d-flex 
                        justify-content-between 
                        text-end 
                        p-3
                        animate__animated
                        animate__bounce
                        animate__delay-1s
                    " 
                    style="background: rgb(255, 173, 123, 0.6)"
                    id="yourPayment"
                >
                    <i class="bi bi-vinyl" style="color:rgb(255, 102, 0)"></i>
                    <div>
                        <p class="fw-bolder">{{total_by_you}}</p>
                        Payment Records by You
                    </div>
                </div>
            </article>
            <article class="col-12 col-md-4">
                <div 
                    class="
                        d-flex 
                        justify-content-between 
                        text-end 
                        p-3
                        animate__animated
                        animate__bounce
                        animate__delay-2s
                    " 
                    style="background: rgb(141, 170, 126, 0.6)"
                    id="pendingPayment"
                >
                    <i class="bi bi-arrow-clockwise" style="color: rgb(51, 105, 30)"></i>
                    <div>
                        <p class="fw-bolder">0</p>
                        Total Pending Payment
                    </div>
                </div>
            </article>
        </section>

        <section class="row mt-3 g-5">
            <div class="col-12">
                <ul class="nav nav-pills nav-fill d-flex flex-row" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a href="#confirmed_payments" class="nav-link active" data-bs-toggle="tab">
                            <i class=" bi bi-briefcase-fill pe-2" style="font-size: 1.2rem;"></i>
                            Confirmed Payments
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a href="#pending_payments" class="nav-link" data-bs-toggle="tab">
                            <i class=" bi bi-briefcase pe-2" style="font-size: 1.2rem;"></i>
                            Pending Payments
                        </a>
                    </li>
                </ul>
            </div> <!-- == End of the tablist == -->

            <div 
                class="
                    tab-content
                " 
                id="myTabContent"
            >
                <!-- === Start of the confirmed payments tab === -->
                <div class="tab-pane show active" id="confirmed_payments" role="tabpanel" aria-labelledby="investments-tab">
                    <div class="col-12">
                        <article class="bg-white p-5 rounded-5 shadow-sm table-responsive">
                            
                            <form action="" class="mb-4" method="get" novalidate="nonvalidate">
                                    {% crispy paymentFilterForm %}
                            </form>
                            
                            <table class="
                                table
                                animate__animated
                                animate__fadeInUp
                            ">
                                <thead class="bg-light p-5">
                                    <tr class="p-5">
                                        <th scope="col">P.ID</th>
                                        <th scope="col">Academic Details</th>
                                        <th scope="col">Fullname</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Balance</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for payment in payments %}
                                    <!-- Modal For Payment Deactivation-->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <form action="{% url 'delete_payment' %}" method="POST">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">
                                                            DELETE PAYMENT.
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div>
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{payment.pk}}" name="pay_id">
                                                            <h4>
                                                                Are you sure you want to delete payment?
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-outline-danger">
                                                            DELETE
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- Modal pop for fee payment details -->
                                    <div class="modal fade" id="paymentDetailsModal{{payment.id}}" tabindex="-2" aria-labelledby="paymentDetailsLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <form action="" method="POST">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3>Payment ID: {{payment.id}}</h3>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="p-4">
                                                            <div class="d-flex justify-content-between">
                                                                <p>Amount Paid:</p>
                                                                <p class="fw-bold text-success text-end">&#8358;{{payment.amount|intcomma}}</p>
                                                            </div>

                                                            <div class="d-flex justify-content-between">
                                                               <p>Student Name:</p>
                                                               <p class="fw-bold text-end">{{payment.student.fullname}}</p>
                                                            </div>
            
                                                            <div class="d-flex justify-content-between">
                                                                <p>Student Info:</p>
                                                                <p class="fw-bold text-end">
                                                                    {{payment.student.courses}} <br />
                                                                    <span class="text-muted">{{payment.student.faculty}}</span>
                                                                </p>
                                                             </div>
            
                                                             <div class="d-flex justify-content-between">
                                                                <p>Academic Details:</p>
                                                                <p class="fw-bold text-end">
                                                                    {{payment.academic_year}} <br />
                                                                    <span class="text-muted text-end">{{payment.semester}}</span>
                                                                </p>
                                                             </div>
            
                                                             <div class="d-flex justify-content-between">
                                                                <p>Payment Date:</p>
                                                                <p class="fw-bold">
                                                                    {{payment.date_paid | date:"D, d M, Y"}}
                                                                </p>
                                                             </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a 
                                                            href="{% url 'payment_detail' payment.id %}"
                                                            class="btn btn-lg btn-info"
                                                        
                                                        >
                                                            Print Fee Reciept
                                                        </a>
                                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <tr>
                                        <td>    
                                            <span class="fw-bolder text-dark">{{payment.pk}}</span>    
                                        </td>
                                        <td>
                                           <b>{{payment.academic_year}}</b> <br/>
                                            {{ payment.semester }}
                                        </td>
                                        <td>{{ payment.student.user.first_name }} {{ payment.student.user.last_name }}</td>
                                        <td>&#8358;{{payment.amount|intcomma }}</td>
                                        <td>
                                            {% if payment.balance == 0 %}
                                                <span class="text-success fw-bolder">
                                                    &#8358;{{payment.balance|intcomma }}
                                                </span>
                                            {% else %}
                                            <span class="text-danger fw-bolder">
                                                &#8358;{{payment.balance|intcomma }}
                                            </span>
                                            {% endif %}
                                        </td>
                                        <td class="d-flex">
                                            <a href="{% url 'update_payment' payment.id %}" class="btn btn-warning btn-sm m-2">
                                                <i class="bi bi-pencil-square text-dark" style="font-size:16px"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger btn-sm m-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                <i class="bi bi-trash" style="font-size:16px"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-secondary btn-sm m-2" data-bs-toggle="modal" data-bs-target="#paymentDetailsModal{{payment.id}}" data-toggle="tooltip" data-placement="bottom" title="Paymenyt details">
                                                <i class="bi bi-chevron-double-right" style="font-size:16px"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <p class="alert alert-info fw-bolder">No Payment Recorded.</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </article>
                    </div>
                </div> <!-- === Confirmed payments tab ends here === -->

                <!-- === Pending payments tab starts here === -->
                <div class="tab-pane show" id="pending_payments" role="tabpanel" aria-labelledby="requests-tab">
                    <article class="col-12 col-md-12 mx-auto">
                        <h3>Pending request coming soon.</h3>
                    </article>
                </div> <!-- === Pending payments tab ends here === -->
            </div>
        </section>
    </div>
</section>
{% endblock %}