{% extends 'admin_base.html' %} {% load static %} {% block content %}

<section class="my-5" style=" min-height: 80vh;">
    <div class="container">
        <section class="row">
            <article class="col-12 col-sm-8 mx-auto text-center">
                <a class="navbar-brand d-block" href="/">
                    <img 
                        class="img-fluid rounded-circle shadow-lg user-thumbnail"
                        style="height: 50px; width: 50px;"
                        src="{% static 'fees/images/nile.jpg' %}"
                    >
                </a>
                <h3 class="pb-4">NILE UNIVERSITY: RECEIPT</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>{{payment.student.user.first_name | title}} {{payment.student.user.last_name | title}}
                            </td>
                        </tr>
                        <tr>
                            <th>Amount Paid:</th>
                            <td>&#8358;{{payment.amount}}</td>
                        </tr>
                        <tr>
                            <th>Balance:</th>
                            <td>&#8358;{{payment.balance}}</td>
                        </tr>
                        <tr>
                            <th>Year:</th>
                            <td>{{payment.academic_year}}</td>
                        </tr>
                        <tr>
                            <th>Semester:</th>
                            <td>{{payment.semester}}</td>
                        </tr>
                        <tr>
                            <th>Course:</th>
                            <td>{{payment.student.courses}}</td>
                        </tr>
                        <tr>
                            <th>Payment Method:</th>
                            <td>{{payment.payment_method}}</td>
                        </tr>
                        <tr>
                            <th>Confirmed By:</th>
                            <td>{{payment.staff}}</td>
                        </tr>
                        <tr>
                            <th>Date Paid:</th>
                            <td>{{payment.date_paid}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="pt-4">
                    <a href="" class=" btn btn-lg btn-primary" onclick="window.print()">
                        PRINT RECEIPT
                    </a>
                </div>
            </article>
        </section>
    </div>
</section>

{% endblock %}