{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<section class="py-5" style="min-height: 100vh;">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'make_payment' %}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-secondary" id="exampleModalLabel">
                            ADD NEW PAYMENT.
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-12 col-md-8 mb-0">
                                {{ p_form.student|as_crispy_field }}
                            </div>
                            <div class="form-group col-12 col-md-4 mb-0">
                                {{ p_form.date_paid|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.academic_year|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.semester|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.amount|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ p_form.payment_method|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            ADD PAYMENT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <section class="row">
            <article class="col-8 col-md-6">
                <h1 class="h3"><small>Welcome</small> <span class="text-danger">{{request.user.last_name}}</span>
                </h1>
                <p>Manage <b>PAYMENTS</b> Here.</p>
            </article>
            <article class="col-4 col-md-6 text-end">
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class=" btn btn-primary btn-lg">
                    Add New Payment
                </a>
            </article>
        </section>

        <section class="row mt-5">
            <div class="col-12">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Payment ID</th>
                            <th scope="col">Academic Year</th>
                            <th scope="col">Semester</th>
                            <th scope="col">Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for payment in payments %}
                        <!-- Modal For Payment Deactivation-->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="{% url 'delete_payment' %}" method="POST">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">
                                                DELETE PAYMENT.
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                {% csrf_token %}
                                                <input type="hidden" value="{{payment.pk}}" name="pay_id">
                                                <h4>
                                                    Are you sure you want to delete payment?
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">
                                                DELETE
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <tr>
                            <td>
                                <a href="{% url 'payment_report' %}">
                                    100{{payment.pk}}
                                </a>
                            </td>
                            <td>
                                {{payment.academic_year}}
                            </td>
                            <td>{{ payment.semester}}</td>
                            <td>&#8358;{{payment.amount }}</td>
                            <td>
                                <a href="{% url 'update_payment' payment.id %}" class="btn btn-warning btn-sm me-2">
                                    <i class="bi bi-pencil-square text-dark" style="font-size:16px"></i>
                                </a>
                                <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <i class="bi bi-trash" style="font-size:16px"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <h1>No Payment Recorded.</h1>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
{% endblock %}