{% extends 'base.html' %} {% load static %} {% block content %}

<section>
    <div class="container">
        <section class="row">
            <article class="col-12">
                <table class="table">
                    <thead class="table-dark">
                        ...
                    </thead>
                    <tbody>
                        ...
                    </tbody>
                </table>

            </article>
        </section>
    </div>
</section>
{% endblock content %}