{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<section>
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-8  mx-auto">
                <form method="POST" class="p-5 shadow-sm bg-white rounded-9">
                    <fieldset class="pb-4">
                            <h1 class="text-primary">
                                Update Student Details.
                            </h1>
                    </fieldset>
                    {% csrf_token %} {{u_form| crispy}} {{stud_form| crispy}}
                    <div class="pt-3">
                        <button type="submit" class="btn btn-primary btn-lg col-12">
                            UPDATE STUDENT
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

{% endblock content %}