{% extends 'admin_base.html' %} {% load crispy_forms_tags %} {% block content %}
<!-- 
    - update payment page
-->
<section>
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-8 mx-auto">
                <form method="POST" class="p-5 bg-white rounded-5 shadow">
                    <fieldset class="pb-4">
                            <h1 class="text-primary">Update Payment.</h1>
                    </fieldset>
                    {% csrf_token %} {{p_form| crispy}}
                    <div class="pt-3">
                        <button type="submit" class="btn btn-danger btn-lg">
                            UPDATE PAYMENT
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

{% endblock content %}